@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Lexend', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track{
  background: rgba(0,0,0, 0.9);
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom, teal, aqua);
}